# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @mrunalp @nalind @giuseppe @umohnani8 @saschagrunert @haircommander @fidencio @kolyshkin @sohankunkerkar @bitoku 
